/* Eksempel på css-stil */


.root {
    -fx-background-color: #707070;


}

.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.button:hover {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

#scrollpane {
    -fx-background-color: #707070;


}

#textfield {
    -fx-background-color: #C6C6C6;

}

#filetree {
    -fx-background-color: #C6C6C6;


}

.rating > .container > .button {
  -fx-background-color: #000000;
  -fx-background-radius: 1,1,1,1;
  -fx-background-insets: 1,1,1,1;
}


.rating > .container > .button.strong {
  -fx-background-color: #FFFFFF;
  -fx-background-radius: 1,1,1,1;
  -fx-background-insets: 1,1,1,1;
}




