/* Eksempel på css-stil */


.root {
    -fx-background-color: #CC33CC;


}

.button {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}